# ==========================================
# Ambiente Virtual (não deve ir pro GitHub)
# ==========================================
env/
venv/

# ==========================================
# Cache e arquivos temporários do Python
# ==========================================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================================
# Relatórios e Cobertura de Testes
# ==========================================
htmlcov/
.coverage
report.html

# ==========================================
# Configurações locais (VSCode, IDE, etc)
# ==========================================
.vscode/
.idea/

# ==========================================
# Arquivos de sistema (Windows / macOS)
# ==========================================
.DS_Store
Thumbs.db
